<h1>Books</h1>
<div>
  <div *ngFor="let book of books$ | async">
    <p>{{ book.title }}</p>
    <p>{{ book.author }}</p>
    <button (click)="removeBook(book.id)">Remove Book</button>
  </div>
</div>
<h1>Create a new book</h1>
<div>
  <input #bookId type="text" placeholder="Book Id" />
  <input #bookTitle type="text" placeholder="Book Title" />
  <input #bookAuthor type="text" placeholder="Book Author" />
  <button (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value)">
    Add Book
  </button>
</div>
